img {
    height: 100%;
    width: auto;
}
.carousel {
    height: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
}
.carousel-item {
    height: 100%;
}
.title {
    color: white;
}
.slide-btn {
    position: absolute;
    background: white;
    color: black;
    height: 32px;
    width: 32px;
    padding: 0;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.next {
    right: 20px;
}
.prev {
    left: 20px;
}

